@media screen 
{
    *
    {
        font-family: 'Encode Sans Expanded', sans-serif;
    }

    img
    {
        border: 2px solid black;

    }

    div 
    {
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
        font-size: 22px;
    }

    @media(min-width: 760px) 
    {
        body 
        {
            background-color: lightblue;
        }
    }

    @media(max-width: 760px) 
    {
        body 
        {
            background-color: deepskyblue;
        }
    }

    @media(max-width: 760px) and (max-height: 500px)
    {
        body 
        {
            background-color: blue;
        }
    }
}